/* 性能不太好 */
/* * {
  margin: 0;
  padding: 0;
} */

body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote{
  margin: 0;
  padding: 0;
}

/* css 选择器的匹配规则是从右到左 少用标签*/
/* #list .list-item {

} */