.clock{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 7px solid #ffebdb;
    background-image: url(./bg.jpg);
    background-size: 111%;
    padding: 20px; 
}
.outer-clock-face{
    width: 100%;
    height: 100%;
    border-radius: 90%;
    position: relative;

}
.outer-clock-face::before,
.outer-clock-face::after
{
    content:'';/*伪元素*/
    width: 10px;
    height: 100%;
    background-color: #596235;
    display: block;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.outer-clock-face::after{
    transform: rotateZ(90deg);/*绕z轴旋转90度*/
    transform-origin: center center;/*旋转基点,绝对居中*/
}
.marking{
    width: 3px;
    height: 100%;
    background-color: #596235;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transform-origin: center center;
}
.marking-one{
    transform: rotateZ(30deg);
}
.marking-two{
    transform: rotateZ(60deg);
}
.marking-three{
    transform: rotateZ(120deg);
}
.marking-four{
    transform: rotateZ(150deg);
}

.inner-clock-face{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: #ffebdb;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    background-image: url(./bg.jpg);
    background-size: 111%;
}
.hand{
    width: 50%;
    height: 6px;
    background-color: red;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%) rotateZ(90deg);
    transform-origin: 100% center;
}
.hour-hand{
    width: 30%;
}
.min-hand{
    width: 40%;
    height: 3px;
}
.second-hand{
    width: 45%;
    height: 2px;
    background-color: #b3b3b3;

}
